!!! html
html
    head
        script
            fbLogin = function() {
                FB.login(window.loginCallback, {scope:"email"});
            }

            loginCallback = function(response) {
                if (response.authResponse) {
                    console.log(JSON.stringify(response));
                    window.token = response.accessToken;
                }
            }
    body
        include indexTop
        button(onclick="fbLogin();") Login With Facebook
