#fb-root
include browserDetect
script
    window.fbAsyncInit = function() {
        var fbData = {
                appId      : '346263985442515', // App ID
                status     : true, // check login status
                cookie     : true, // enable cookies to allow the server to access the session
                xfbml      : true  // parse XFBML
            };
        if (BrowserDetect.browser != "Explorer") {
            fbData["channelUrl"] = '//www.killeveryoneintheroom.COM/public/channel.html';
        }
        FB.init(fbData);

        FB.Event.subscribe('auth.login', window.syLoginCallback);
        FB.Event.subscribe('auth.logout', window.syLogoutCallback);
        window.syFacebookTimeoutID = window.setTimeout(window.syFacebookTimeoutCallback, 2000)
        FB.getLoginStatus(window.syLoginStatusCallback);
    };

    // Load the SDK Asynchronously
    (function(d){
        var js, id = 'facebook-jssdk'; if (d.getElementById(id)) {return;}
        js = d.createElement('script'); js.id = id; js.async = true;
        js.src = "//connect.facebook.net/en_US/all.js";
        d.getElementsByTagName('head')[0].appendChild(js);
    }(document));
